* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    text-align: center;
    color: white;
}
h1 {
    position: absolute;
    top: 50px;
    font-size: 3rem;
    color: goldenrod;
}
#star-game {
    font-size: 2rem;
    font-style: italic;
}
p {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 30px;
}
.start-btn {
    font-size: 1.5rem;
    width: 180px;
    color: #016f32;
    background: goldenrod;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}
.newCard-btn {
    font-size: 1.5rem;
    width: 180px;
    color: #016f32;
    background: goldenrod;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}